scripts=[
        "
        create service user anf-service-user with path system/anf
        create path /var/anf-code-challenge(sling:Folder)

	    set ACL for anf-service-user
	        allow jcr:all on /etc
	        allow jcr:all on /content/anf-code-challenge
	        allow jcr:read on /content/dam
	        allow jcr:all on /var
            allow jcr:read on /content/cq:tags
        end
	"
]
